<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.homebudget" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".budget" android:label="Budget">

        </activity>
        <activity android:name=".expenses" android:label="Expenses">

        </activity>
        <activity android:name=".ExpensesDetails" android:label="ExpensesList"></activity>
        <activity android:name=".BudgetDetails" android:label="BudgetDetails"></activity>
        <activity android:name=".Modification" android:label="Modification"></activity>
        <activity android:name=".Budegt_Modification" android:label="Budget_modification "></activity>
    </application>

</manifest>